<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://bryanredd.com/css/style.css">

    <style>
        .affirmation,
        button,
        input {
            margin: 0em;
            padding: 1em;
            background: #fff2;
            border-radius: 0.5em;
        }
    </style>

</head>

<body>
    <header>
        <svg width="6em" height="2em" viewBox="0 0 31.997507 10.353151" version="1.1" id="svg5"
            xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs2" />
            <g id="layer1" transform="translate(-1.0458703,-0.87275413)">
                <g id="g378" transform="translate(-12.486443,-8.9927144)">
                    <rect style="stroke-width:0.264583" class="svg-shape" id="rect111" width="10" height="10"
                        x="13.532313" y="9.8702478" rx="1" ry="1" />
                    <circle style="stroke-width:0.273167" class="svg-shape" id="path273" cx="29.524296" cy="15.027691"
                        r="5.1622224" />
                    <path style="stroke-width:0.264583" class="svg-shape" id="path329"
                        d="m 46.599813,13.553097 c -0.552068,0.95621 -10.489301,0.95621 -11.04137,0 -0.552069,-0.956211 4.416548,-9.5621078 5.520685,-9.5621078 1.104137,0 6.072754,8.6058968 5.520685,9.5621078 z"
                        transform="translate(-1.1126528,5.9483644)" />
                </g>
            </g>
        </svg>

    </header>
    <main>
        {{ template "body" . }}
    </main>
    <footer>
        <svg width="3em" height="1em" viewBox="0 0 31.997507 10.353151" version="1.1" id="svg5"
            xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs2" />
            <g id="layer1" transform="translate(-1.0458703,-0.87275413)">
                <g id="g378" transform="translate(-12.486443,-8.9927144)">
                    <rect style="stroke-width:0.264583" class="svg-shape" id="rect111" width="10" height="10"
                        x="13.532313" y="9.8702478" rx="1" ry="1" />
                    <circle style="stroke-width:0.273167" class="svg-shape" id="path273" cx="29.524296" cy="15.027691"
                        r="5.1622224" />
                    <path style="stroke-width:0.264583" class="svg-shape" id="path329"
                        d="m 46.599813,13.553097 c -0.552068,0.95621 -10.489301,0.95621 -11.04137,0 -0.552069,-0.956211 4.416548,-9.5621078 5.520685,-9.5621078 1.104137,0 6.072754,8.6058968 5.520685,9.5621078 z"
                        transform="translate(-1.1126528,5.9483644)" />
                </g>
            </g>
        </svg>
    </footer>
</body>

</html>