{{ define "title" }}🎉 GO, YOU! 🎉{{ end }}

{{ define "body"}}
<script>
    function go() {
        window.location.replace(document.getElementById("nameinput").value.replace(/[^a-zA-Z]+/g, ''));
    };

    window.onload = function () {
        var x = document.getElementById("nameinput");
        x.addEventListener("keydown", function (e) {
            console.log(e.key);
            if (e.key === "Enter") {  //checks whether the pressed key is "Enter"
                go();
            }
        });
    };
</script>
<h1>
    🎉 GO, YOU! 🎉
</h1>
<h2>
    You're incredible.
</h2>
<p>
    Has anyone told you that today? <br>
    Because you are.
</p>
<hr>
<p>
    Get your personalized daily affirmations by entering your first name below:
</p>
<p>
    <input type="text" name="nameinput" id="nameinput" placeholder="Daniel" style="font-size: larger;">
</p>
<p>
    <button onclick="javascript:go()" style="font-size: larger;">🎉 GO, YOU! 🎉</button>
</p>
{{ end }}